body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#suggest-aria-id\:12
  > div.contents
  > div.main
  > .codicon.codicon-symbol-unit::before {
  content: "\ea86";
}

.monaco-remote-cursor {
  height: 27px;
  position: absolute;
  pointer-events: none;
  z-index: 4000;
  width: 2px;
}

.monaco-remote-cursor:before {
  content: "";
  width: 6px;
  height: 5px;
  display: block;
  margin-left: -2px;
  margin-top: 0;
  z-index: 4000;
  background: inherit;
}
